/* FONTS */
/* SIZES */
/* FONTS */
/* SIZES */
.header {
  position: relative;
  width: 100%;
  height: auto;
  padding: 2rem;
  background-color: #1DA1F2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .nav .links {
  display: flex;
  justify-content: end;
  align-items: center;
}
.header .search {
  padding: 2rem 8rem 0rem;
}

.twittercard {
  background-color: #fff;
  width: 25%;
  height: auto;
  padding: 2rem;
  margin: 0.5rem;
  border-radius: 1rem;
  border: 2px solid #1DA1F2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.twittercard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.twittercard-header .bio {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.twittercard-header .bio .pfp > img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
.twittercard-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.twittercard-stats .stat {
  display: flex;
  justify-content: center;
  align-items: center;
}
.twittercard-stats .stat > img.icon {
  width: 1.5rem;
  height: auto;
  display: inline-block;
}
.twittercard-stats .stat h5 {
  display: inline-block;
}
@media screen and (max-width: 1350px) {
  .twittercard {
    width: 40%;
  }
}
@media screen and (max-width: 850px) {
  .twittercard {
    width: 90%;
  }
}
.tag {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border: 1px solid #14171A;
  border-radius: 8px;
  margin: 0.25rem 0.25rem;
}
.tag.tesla {
  background-color: #cc0000;
  color: #fff;
}
.tag.space {
  background-color: #005288;
  color: #fff;
}
.tag.energy {
  background-color: #29B675;
  color: #fff;
}
.tag.work {
  background-color: #FE5000;
  color: #fff;
}
.tag.misc {
  background-color: #1DA1F2;
  color: #fff;
}

.tag:first-child {
  margin: 0.25rem 0.25rem 0.25rem 0rem;
}

.tag:last-child {
  margin: 0.25rem 0rem 0.25rem 0.25rem;
}

.dashboardpage {
  width: 100%;
}

.tweets {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.moreTweets {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moreTweets > button.moreTweets-btn {
  cursor: pointer;
  width: 50%;
  background-color: #1DA1F2;
  color: #fff;
  padding: 0.5rem 0rem;
  border: 1px solid #14171A;
  border-radius: 8px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

h1, h2, h3, h4, h5, p, body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  font-size: 1.25rem;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
}

h5 {
  font-size: 0.75rem;
  font-weight: 400;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
}

.right-align {
  text-align: right;
}

/*# sourceMappingURL=App.css.map */
